
/* style for the form  */
.wrapper{

    width: 500px;
    overflow: hidden;     
    margin: auto;
    padding: 20px;
    margin-top: 50px;
    
    }

.ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948; /* green */
  }
  
  .ng-invalid:not(form)  {
    border-left: 5px solid #a94442; /* red */
  }

  .class{
      background-color: #a6c8ca;
  }

  @media only screen and (max-device-width: 550px){

    .form-textbox, .form-textarea{
    
         width:200px !important;
         min-width:200px !important;
         max-width:200px !important;
    
    }
  }