<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Home</title>
</head>
<body>
 <div class="container-fluid"> 
    <div class="jumbotron">
        <h1 class="display-4" style="text-align:center">Raise voice & resolve your complaints quickly </h1>
        <p class="lead" style="text-align:center">Let us help your voice to reach where it should.File your complaints with us and we will make sure that it reaches the right person</p>      
    </div>

 


 <h3>Registered Complaints</h3>
<p-accordion  [multiple]="true">
    <p-accordionTab 
        *ngFor = "let item of complaints"
        
        header= "Complaint Area:{{item.compType}}">
        <div>
          <span><b>Name:</b>&nbsp;&nbsp;&nbsp;</span> <span>{{item.userName}}</span>
          <br>
          <span><b>Complaint Status:</b>&nbsp;&nbsp;&nbsp;</span> <span>{{item.status}}</span>
          <br>
          <span><b>Complaint Description:</b>&nbsp;&nbsp;&nbsp;</span> <span>{{item.descr}}</span>
        </div>
    </p-accordionTab>
    
</p-accordion>
</div> 

</body>
</html>